<section class="features  section-margin-b">
  <div class="features__wrap">
    <h2 class="features__title">
      Магазин Глейси — это онлайн и офлайн магазин по продаже мороженого собственного производства на развес
    </h2>
    <ul class="features__list">
      <li class="features__item  features__item--ice-cream">
        <p class="features__text">
          Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
        </p>
      </li>
      <li class="features__item  features__item--cow">
        <p class="features__text">
          Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
        </p>
      </li>
      <li class="features__item  features__item--leaf">
        <p class="features__text">
          Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья. 
        </p>
      </li>
      <li class="features__item  features__item--thermometer">
        <p class="features__text">
          Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.<!--&nbsp;-->
        </p>
      </li>
    </ul>
  </div>
</section>