<section class="item  swiper-slide">
  <!--
  <div class="item__popular-icon">
    <span class="item__popular-hit">Хит</span>
  </div>
  -->
  <div class="item__img-box">
    <div class="item__popular-icon">
      <span class="item__popular-hit">Хит</span>
    </div>
    <img class="item__img" src="img/dairy-orange-jam-citrus-shaving.jpg" alt="">
    <span class="item__price">310 ₽/кг</span>
  </div>
  <h2 class="item__title">
    <a class="item__link  link-on-dark" href="#">
      Сливочное с апельсиновым джемом и цитрусовой стружкой
    </a>
  </h2>
</section>
