<section class="map-box">
  <div class="map-info">
    <div class="map-info__wrap">
      <div class="map-info__box  address-box">
        <p class="map-info__text map-info__text--not-important">
          Адрес главного офиса и&nbsp;офлайн&nbsp;магазина:
        </p>
        <p class="map-info__text  map-info__text--accent">
          ул. Большая Конюшенная 19/8, Санкт-Петербург
        </p>
      </div>
  
      <div class="map-info__box  map-info__box--phone">
        <p class="map-info__text  map-info__text--not-important">
          Для заказов по телефону:
        </p>
        <a class="map-info__text  map-info__text--accent" href="tel:+78124502525">8 812 450-25-25</a>
        <p class="map-info__text">(с 10 до 20 ежедневно)</p>
      </div>
    </div>

    <button class="btn  map-info__btn" type="button">
      Форма обратной связи
    </button>
  </div>
  
  <div id="map" class="map"></div>

  <div class="map-img-box">
    <h2 class="visually-hidden">Адрес студии: , Санкт-Петербург, ул. Большая Конюшенная 19/8</h2>
    <img class="map-img" src="img/map-desktop-2.jpg" alt="">
    <!--
    <picture class="">
      <source media="(min-width: 580px)"
              srcset="img/map-desktop.jpg">
      <img class="map-img" src="img/map-mobile.jpg" width="auto"  height="428" alt="">
    </picture>
  -->
    <!--<img src="img/map&marker_cropped.png" alt="" width="1200" height="416">-->
  </div>
</section>


