<div class="news section-margin-b">
  <section class="news__box  news__blog-post  news__column  blog-post">
    <h2 class="blog-post__title">Новое в нашем блоге</h2>
    <div class="blog-post__link-wrap">
      <a class="blog-post__link" href="">
        <span>10 способов сервировки фруктовых щербетов к столу</span>
      </a>
    </div>
  </section>
  <section class="news__box  news__subscription  news__column  subscription"><!--news__box  news__subscription  news__column  -->
    <p class="subscription__text">
      Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)
    </p>
    <form class="subscription__form" action="" method="post">
      <p class="subscription__wrap">
        <input class="subscription__input" type="email" id="email" name="email" placeholder="Эл. почта"  pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{1,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$">
        <button type="submit" class="btn subscription__btn">Отправить</button>
      </p>
    </form>
  </section>
</div>