<footer class="page-footer">
  <section class="page-footer__wrap  page-footer__wrap--social">
    <ul class="page-footer__social  social">
      <li class="social__item">
        <a href="#" class="social__link  social__link--twitter" aria-label="Twitter">
          Twitter
          <svg class="social__icon" width="32px" height="32px"><use xlink:href="#social-twitter"></use></svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link  social__link--ig">
          Instagram
          <svg class="social__icon" width="32px" height="32px"><use xlink:href="#social-ig"></use></svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link  social__link--fb">
          Facebook
          <svg class="social__icon" width="32px" height="32px"><use xlink:href="#social-fb"></use></svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link  social__link--vk">
          Vkontakte
          <svg class="social__icon" width="32px" height="32px"><use xlink:href="#social-B"></use></svg>
        </a>
      </li>
    </ul>
  </section>

  <section class="page-footer__wrap  page-footer__wrap--documentation">
    <ul class="page-footer__documentation  documentation">
      <li class="documentation__item  documentation__item--heart">
        <a href="#" class="page-footer__link  documentation__link  link-on-dark">Для поставщиков</a>
      </li>
      <li class="documentation__item">
        <a href="#" class="page-footer__link documentation__link  link-on-dark">Наши документы</a>
      </li>
      <li class="documentation__item">
        <a href="#" class="page-footer__link  documentation__link  link-on-dark">О производстве</a>
      </li>
      <li class="documentation__item">
        <a href="#" class="page-footer__link  documentation__link  link-on-dark">Экологические стандарты</a>
      </li>
    </ul>
  </section>

  <section class="page-footer__wrap  page-footer__wrap--copyright">
    <div class="copyright">
      <a href="https://www.catster.com/lifestyle/cat-health-vet-study-fiv-positive-cats-living-together?fbclid=IwAR1e07jiswATAIvnfdDwGyvX6tpUIcBp_DqA54x13n5PpbXrUZErBQNM4V8" class="copyright__logo"  aria-label="HTMLAcademy">
        HTMLAcademy
        <svg class="copyright__icon" width="109px" height="39px"><use xlink:href="#htmla-logo"></use></svg>
      </a>
      <p class="copyright__text">Сделано в <a href="#" class="page-footer__link  copyright__link   link-on-dark">HTML Academy</a> © <span class="year"></span></p>
    </div>
  </section>
</footer>
