<section class="promo  section-margin-b">
  <div class="promo__box">
    <div class="swiper-container  promo__wrap">
      <ul class="swiper-wrapper  promo__list">
        <li class="swiper-slide  promo__item  promo__item--active">
      	  <div class="promo__img-wrap">
            <img  class="promo__img" src="img/promo-mint-bg-mobile.png" width="1045" height="881" alt="Крем-брюле и пломбир с малиновым джемом">
            <!--<picture class="promo__pic">
            <source class="promo__img" media="(min-width: 768px)"
              srcset="img/promo-mint-bg-mobile.png">
            <img  class="promo__img" src="img/promo-mint-bg-mobile.png" width="1045" height="881" alt="Крем-брюле и пломбир с малиновым джемом">
          </picture>-->
          </div>
          <p class="promo__heading">
            Крем-брюле и пломбир с&nbsp;малиновым джемом
          </p>
          <div class="promo__btn-wrap">
            <button type="button" class="btn  promo__btn  promo__focusable">
              Давайте оба!
            </button>
          </div>
        </li>
        <li class="swiper-slide  promo__item">
      	  <div class="promo__img-wrap">
      	    <img class="promo__img" src="img/promo-bluegray-bg-mobile.png" width="1065" height="859">
      	  </div>
          <p class="promo__heading">
            Шоколадный пломбир и&nbsp;лимонный сорбет
          </p>
          <div class="promo__btn-wrap">
            <button type="button" class="btn  promo__btn  promo__focusable">
              Давайте оба!
            </button>
          </div>
        </li>
        <li class="swiper-slide  promo__item">
      	  <div class="promo__img-wrap">
      	    <img class="promo__img" src="img/promo-coffee-bg-mobile.png" width="1079" height="854">
      	  </div>
          <p class="promo__heading">
            Пломбир с помадкой и&nbsp;клубничный щербет
          </p>
          <div class="promo__btn-wrap">
            <button type="button" class="btn  promo__btn  promo__focusable">
              Давайте оба!
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination  swiper-pagination--promo  promo__pagination"></div>
  </div>
  <!--
  <div class="promo__banner  banner">
    <ul class="banner__list">
      <li class="banner__item  banner__item--raspberry">
        <h2 class="banner__header">Малинка даром!</h2>
        <div class="banner__text-box">
          <p class="banner__text">
            При покупке 2 кг любого фруктового мороженого, добавим в&nbsp;ваш заказ банку малинового варенья бесплатно.
          </p>
          <button type="button" class="btn banner__btn">
            Хочу варенье!
          </button>
        </div>
      </li>
      <li class="banner__item  banner__item--chocolate">
        <h2 class="banner__header">Шоколадки даром!</h2>
        <div class="banner__text-box">
          <p class="banner__text">
            При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
          </p>
          <div>
          <button type="button" class="btn banner__btn">
            Хочу шоколадки!
          </button>
        </div>
        </div>
      </li>
    </ul>
  </div>-->

  <section class="promo__banner  b-s">
    <div class="b-s__wrap"><!--swiper-container-->
      <ul class="b-s__list"><!--swiper-wrapper-->
        <li class="b-s__item"><!--swiper-slide-->
          <div class="b-s__content  b-s__content--raspberry">
            <h2 class="b-s__header">Малинка даром!</h2>
            <div class="b-s__text-box">
              <p class="b-s__text">
                При покупке 2 кг любого фруктового мороженого, добавим в&nbsp;ваш заказ банку малинового варенья бесплатно.
              </p>
              <button type="button" class="btn b-s__btn">
                Хочу варенье!
              </button>
            </div>
          </div>
        </li>
        <li class="b-s__item"><!--swiper-slide-->
          <div class="b-s__content  b-s__content--chocolate">
            <h2 class="b-s__header">Шоколадки даром!</h2>
            <div class="b-s__text-box">
              <p class="b-s__text">
                При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
              </p>
              <button type="button" class="btn b-s__btn">
                Хочу шоколадки!
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>