.banner {
  width: 100%;
  max-width: 1500px;
  min-width: $mobileMin;
  margin: 0 auto;
  padding: 0 $sizeM 0 $sizeM;
  box-sizing: border-box;


  margin-bottom: 50px;
}

.banner__list {
  /*display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;*/
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.banner__item {
  position: relative;

  width: 100%;
  /* min-width: $mobileMin; */
  height: 228px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 20px 17px 20px;
  box-sizing: border-box;

  background-color: rgba(140, 40, 120, 0.5);
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 21px;
  /*overflow-y: scroll;*/
}

.banner__item--raspberry {
  background-image: url("../img/raspberry-bg.jpg");
}

.banner__item--chocolate {
  background-image: url("../img/chocolate-bg.jpg");
}

.banner__header {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  line-height: 1.2;
  font-size: 17px;
}

.banner__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__text {
  height: 94px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  /*height: 130px;*/

  font-size: 14px;
  line-height: 1.3;

  overflow-y: scroll;
}

.banner__btn {
  display: block;
  width: auto;/*width: 65%;width: 150px;*/
  padding: 10px 20px 12px 20px;
  margin-left: auto;

  /*margin: 0 auto;*/

  font-size: 16px;/*18 24*/
  line-height: 1.2;
/*
  float: right;
  shape-outside: ellipse(50% 60%);
*/
}


@media (min-width: $mobile) {
  .banner__item {
    max-width: 565px;
    min-height: 228px;
  }
}


@media (min-width: $tablet) {
  .banner {
    /*position: absolute;*/
  }
  .banner__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .banner__item {
    margin-left: 0;
    margin-right: 0;
    flex-basis: 48.92%;
  }

  .banner__header {
    font-size: 24px;
  }

  .banner__text {
    height: 95px;
    margin-bottom: 10px;

    font-size: 16px;
  }
}

@media (min-width: $desktopBig) {
  .banner {
    padding: 0 $sizeML;
  }
  .banner__list {
    display: flex;
    /*width: 96.5%;width: 98%;
    margin-left: auto;
    margin-right: auto;*/
    justify-content: center;
    background-color: red
  }


  .banner__item {
    margin-right: 24px;
  }
  .banner__item:last-child {
    margin-right: 0;
  }



  .banner__header {
    font-size: 35px;
  }

  .banner__text {
    font-size: 18px;
  }
}

