.page-header {
  /*
  position: relative;
  top: 0;
  left: 50%;*/
  
  z-index: 2;

  width: 100%;
  max-width: 1500px;
  min-width: $mobileMin;
  margin: 0 auto;
  padding: $sizeS $sizeM 0 $sizeM;
  box-sizing: border-box;

  /*transform: translateX(-50%);*/
}

.page-header__logo {
  display: block;
  width: 100%;
}

.page-header__logo svg {
  display: block;
  margin: 0 auto;
}

.page-header__btn {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;

  width: 28px;
  height: 26px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
}

.page-header__btn--no-js {
  display: none;
}

.page-header__btn--open::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;

  width: 20px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.page-header__btn--close::before,
.page-header__btn--close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 27px;
  height: 2px;

  background-color: #ffffff;
}

.page-header__btn:active {
  background-color: #221f1f;
}

.page-header__btn--close::before {
  transform: rotate(45grad);
}

.page-header__btn--close::after {
  transform: rotate(-45grad);
}

.page-header__btn--close:hover::before,
.page-header__btn--close:focus::before,
.page-header__btn--close:hover::after,
.page-header__btn--close:focus::after,
.page-header__btn--open:hover::before,
.page-header__btn--open:focus::before {
  background-color: #d07058;
}

.page-header__btn--open:hover::before,
.page-header__btn--open:focus::before {
  box-shadow: 0 6px 0 0 #d07058, 0 12px 0 0 #d07058;
}

.page-header__btn--close:active::before,
.page-header__btn--close:active::after {
  background-color: #ffffff;
}

.page-header__btn--open:active::before {
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.page-header__footer {
  width: 100%;
}

.page-header__breadcrumbs {
  width: 100%;
}

.page-header__contacts {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-align: left;
}

.page-header__phone {
  display: inline-block;
  margin-top: 8px;

  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  /*text-align: center;*/
  text-decoration: none;
}

@media (min-width: $tablet) {
  .page-header {
    /* position: absolute; */

    display: flex;
    flex-wrap: wrap;
  }

  .page-header--js {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .page-header__logo {
    display: block;
    width: 155px;
    margin-left: 35px;
  }

  .page-header__logo svg {
    margin: 0;
    margin-left: auto;
  }

  .page-header__btn {
    left: 20px;
  }


  .page-header__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* width: 100%; */
    background-color: deeppink;
  }

  .page-header__contacts {
    flex-basis: 172px;flex-basis: 235px;
    /*align-self: center;*/
    width: auto;background-color: deepskyblue;
    margin: 0;
    /*margin-left: auto;*/
    padding: 0;
    padding-left: 20px;
 
    text-align: right;
  }
  
  .page-header__phone {
    text-align: right;
  }
}

@media (min-width: $desktop) {
  .page-header {
    width: 100%;
    padding: $sizeS $sizeM 0 $sizeM;
    box-sizing: border-box;
  }
  
  .page-header__logo {
    width: 154px;
    margin-left: 0;
  }

  .page-header__btn {
    display: none;
  }

  .page-header__contacts {
    padding-left: 10px;
  }
}

@media (min-width: $desktopBig) {
  .page-header {
    width: 100%;
    padding: $sizeS $sizeL 0 $sizeL;
    box-sizing: border-box;
  }
}
